In [4]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [15]:
serioes_obj = Series(np.arange(3), index=['row 1', 'row 2', 'row 3'])

In [16]:
serioes_obj

row 1    0
row 2    1
row 3    2
dtype: int64

In [17]:
serioes_obj[1]

1

In [22]:
serioes_obj[[0,2]]

row 1    0
row 3    2
dtype: int64

In [40]:
DF_obj = DataFrame(np.random.rand(9).reshape((3,3)), index=['row 1', 'row 2', 'row 3'],
                  columns=['col 1', 'col 2', 'col3'])

In [41]:
DF_obj

          col 1     col 2      col3
row 1  0.409622  0.109562  0.085703
row 2  0.747596  0.183010  0.015087
row 3  0.913751  0.925941  0.582870

In [45]:
DF_obj.loc[['row 1', 'row 1']], [['col 2', 'col 1']]

(          col 1     col 2      col3
 row 1  0.409622  0.109562  0.085703
 row 1  0.409622  0.109562  0.085703, [['col 2', 'col 1']])

### Sclicin

In [50]:
serioes_obj['row 1': 'row 2']

row 1    0
row 2    1
dtype: int64

In [52]:
serioes_obj

row 1    0
row 2    1
row 3    2
dtype: int64

In [57]:
DF_obj > .5

       col 1  col 2   col3
row 1  False  False  False
row 2   True  False  False
row 3   True   True   True

In [58]:
DF_obj[DF_obj > .5]

          col 1     col 2     col3
row 1       NaN       NaN      NaN
row 2  0.747596       NaN      NaN
row 3  0.913751  0.925941  0.58287